{% extends 'main/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}

{% block extend_nav %} 



{% endblock %}


{% block content %}

<h3 id="map">Escaner alergenos</h3>

<div class="container">

	<form id="apiform" method="POST" action="/">
    {% csrf_token %}

    	<label for="username">Selecciona una categoria</label>
    	<select name="cat" id="cat">
    		<option selected value="">Selecciona una categoria</option>
		  	<option value="recipes">Recetas</option>
		  	<option value="ingredients">Ingredientes</option>
		  	<option value="menuItems">Ingredientes Menu</option>
		  	<option value="products">Productos</option>
		</select>
	   
	   <label for="username">Buscar</label>
	   <input type="search" id="query" name="query">

	   

	   <button type="submit">Confirmar</button>
	</form>


</div>


{% endblock %}

{% block extend_footer %}




{% endblock %}