{% extends 'main/base.html' %}
{% load static %}

{% block extend_head %}
<!-- Agrega aquí los enlaces a las hojas de estilo o scripts específicos para esta página si es necesario -->
{% endblock %}

{% block extend_nav %}
<!-- Puedes personalizar la barra de navegación aquí si es necesario -->
{% endblock %}

{% block content %}
    <h1>Lista de la compra</h1>
    <table>
        <thead>
            <tr>
                <th>Ingrediente</th>
                <th>Cantidad</th>
                <th>Eliminar 1</th>
                <th>Eliminar todos</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>({{ ingredient.count }})</td>
                <td>
                    <a href="{% url 'main:remove_one_from_shopping_list' ingredient.id %}">
                        <i class="fas fa-minus"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:remove_all_from_shopping_list' ingredient.id %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
